
*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.container {
  width: 300px;
  height: 700px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.head {
    background: #fff7f7;
    width: 216px;
    height: 192px;
    border-radius: 4px;
    position: relative;
    border-radius: 50%;
  }
  
.head::before {
    content: "";
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 2;
  }
  
.head::after {
    content: "";
    background: #fff;
    width: 48px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: 25%;
    left: 48%;
    z-index: 2;}

.container .head .boca{
    background-color: black;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    margin-top: 100px;
    margin-left: 3px;
}

 .olho{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 50px;
    z-index: 3;
    top: 6vh;
    left: 50%;
    transform: translate(-50%);
  }

  .olho::before, .olho::after{
    content: "";
    position: relative;
    background: rgb(255, 0, 0);
    width: 50px;
    height: 20px;
    border-radius: 15% 15% 50% 50%;
    transform: perspective(7px) rotateY(7deg) rotateZ(10deg);
  }
  
  .olho::after{
    transform: perspective(7px) rotateY(-7deg) rotateZ(-10deg);
  }
  
.container .body {
  background: #FFF;
  width: 250px;
  height: 380px;
  border-radius: 2% 2% 47% 49% / 23% 21% 73% 75%;
  position: relative;
  margin-top: 3%;
}

.container .body::before {
  content: "";
  background: #FFF;
  width: 40px;
  height: 240px;
  position: absolute;
  left: -20%;
  top: 10%;
}

.container .body::after {
  content: "";
  background: #FFF;
  width: 40px;
  height: 240px;
  position: absolute;
  right: -20%;
  top: 10%;
}